{% extends "base.html" %}

{% load static %}

{% block title %}Página de Monitoreo{% endblock %}

{% block content %}

<title>Monitoreo de Calidad del Aire</title>

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<body>

    <div class="header">Monitoreo de Calidad del Aire</div>
    <div class="container">
        <!-- Panel Izquierdo -->

        <div class="panel left-panel">
            <!-- Botón para iniciar la captura de datos -->
            <button class="big-btn" id="captura-btn" onclick="toggleCaptura()">Iniciar Captura</button>

            <div class="status-row"><span class="dot"></span><span id="statusText">Esperando datos</span></div>
            <div class="measure-cards">
                <div class="card">
                    <span>CO<sub>2</sub></span>
                    <span class="val" id="co2val">--</span>
                    <span>ppm</span>
                </div>
                <div class="card">
                    <span>Humo</span>
                    <span class="val" id="pm25val">--</span>
                    <span>¿Presente?</span>
                </div>
                <div class="card">
                    <span>Temperatura</span>
                    <span class="val" id="tempval">--</span>
                    <span>°C</span>
                </div>
                <div class="card">
                    <span>Humedad</span>
                    <span class="val" id="humeval">--</span>
                    <span>%</span>
                </div>
            </div>
            <div class="quality-good" id="qualText">Bueno</div>
            <div class="updated">Última actualización:<br>
                <span id="updatedTime">--</span>
            </div>
            <div class="custom-divider"></div>
            <h2>Gráficos</h2>

            <div class="chart-container">
                <h3>Humedad (%)</h3>
                <canvas id="humedadPie" width="250" height="150" width="250" height="150"></canvas>
            </div>
            <div class="custom-divider"></div>
            <div class="chart-container">
                <h3>Presencia de Humo (%)</h3>
                <canvas id="humoPie"></canvas>
            </div>

        </div>
        
        <!-- !Panel Derecho -->
        <div class="panel right-panel">
            <h2>Gráficos</h2>

            <div class="chart-container">
                <h3>CO₂</h3>
                <canvas id="co2Chart" width="400" height="222"></canvas>
            </div>
            <div class="custom-divider"></div>
            <div class="chart-container">
                <h3>Temperatura</h3>
                <canvas id="tempChart" width="400" height="261"></canvas>
            </div>
            <div class="custom-divider"></div>
            <div class="graphics-grid">


            </div>

            <h2>Últimos Datos</h2>
            <table border="1" id="tabla-datos">
                <tr>

                    <th>CO₂(ppm)</th>
                    <th>Humo</th>
                    <th>Temp(°C)</th>
                    <th>Humedad(%)</th>
                </tr>
                <!-- Aquí se llenarán los datos dinámicamente -->

        </div>
        </table>
    </div>
    </div>
</body>

</html>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}