{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CLEAN AIR MONITOR{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo"><span>AirCheck</span></div>
        <div class="menu">
            <a href="/login" class="active">
                <span class="icon"><img src="{% static 'images/iniciar-sesion.png' %}" alt="icono"></span>
                <span class="menu-text">Iniciar sesión</span>
            </a>
            <a href="/monitor">
                <span class="icon"><img src="{% static 'images/tablero.png' %}" alt="icono"></span>
                <span class="menu-text">Monitor en tiempo real</span>
            </a>
            <a href="/contacto">
                <span class="icon">📩</span>
                <span class="menu-text">Contáctanos</span>
            </a>
        </div>
        <div class="sidebar-footer">
            &copy; 2025 | Proyecto Calidad del Aire
        </div>
    </div>

    <!-- Contenido de cada página -->
    <div class="main-content">
        {% block content %}
        <!-- Aquí irá el contenido de cada página -->
        {% endblock %}
    </div>
</body>
</html>
