{% extends "base.html" %}

{% load static %}

{% block title %}Página de Monitoreo{% endblock %}

{% block content %}

<div class="main-content">
    <div class="panel-header">
        <span class="header-title">CLEAN AIR MONITOR</span>
    </div>

    <div class="panel-title">Calidad del Aire — Resumen Anual</div>
    <div class="panel-desc">
        Observa cómo ha cambiado la calidad del aire en los últimos años.<br>
        <b>¡Cuidar el ambiente es responsabilidad de todos!</b>
    </div>
    <div class="chart-card">
        <div class="chart-title">Tendencia de Calidad del Aire (2018 - 2024)</div>
        <canvas id="qualityChart" width="600" height="260"></canvas>
    </div>
</div>
</div>

</body>

</html>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}